[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "~=3.5"
protobuf = "~=3.20"
types-protobuf = "*"
inputs = "~=0.5"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
